<div class="col-xs-12 comment-indent">
    <p>{{comment.content}}</p>
    <p class="text-right">{{comment.author.username}}</p>
    <a href="/post/{{postId}}/comment/{{comment._id}}/reply/create">Reply</a>
    {{#each comment.comments}}
        {{> comment comment=this postId=../postId}}
    {{/each}}
</div>