{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    ...
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign Up</a></li>
    </ul>
  </div>
</div> --}}