<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/sign-up" method="post">
      <legend>Sign up</legend>

      <div class="form-group">
        <label for="username-input">Username</label>
        <input type="text" name="username" class="form-control" id="username-input" placeholder="Johnny Appleseed">
      </div>

      <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" name="password" class="form-control" id="password-input" placeholder="Password123">
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>